<div class="column if-one-quarter ">
  <div class="box has-background-grey-light right-about-container">
    <h2 class="title is-3 has-text-info">About</h1>
    <p> <i class="fas fa-project-diagram"></i> SenNet is a project to gather sensor information to control actuators in order to
    use limited resources like water or energy eficciently.
    </p>
    <a href="https://github.com/FrancoRosa"><i class="fab fa-github"></i> FrancoRosa</a>
  </div>
</div>