<div class="column is-one-quarter">
  <div class="box has-background-grey-light menu">
    <p class="menu-label">Select a device:</p>
    <ul class="menu-list">
      <% @devices.each do |device| %>
        <li><%= link_to  device.name, device_path(device) %></li>
      <% end %>
    <ul>
    <%= link_to 'New Device', new_device_path, class: "has-text-info" %>
  </div>
</div>