<main class="main-container">
  <p id="notice"><%= notice %></p>
  <div class="columns">
    <%= render "device_list" %>
    <div class="column is-half">
      <h1 class="title is-3 has-text-info">All devices</h1>
      <div id="maps">
      </div>
    </div>
    <%= render "about" %>
  <%= render "map_index" %>
</main>