<main class="main-container">
  <div class="columns">
    <%= render "devices/device_list" %>
    <div class="column is-half">
      <h1 class="title is-3 has-text-info">New Action</h1>
      <div>
        <%= render 'form', sensor_actuator: @sensor_actuator %>
        <div class="actions">
          <%= link_to 'Back', sensor_actuators_path, class:"button is-danger" %>
        </div>
      </div>
    </div>
    <%= render "devices/about" %>
</main>
