/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bulma";

.navbar {
  top: 0;
  position: sticky;
}

.dropdown {
  background-color: $dark;
}

.brand-mod {
  margin: 0;
  padding: 0
}

.main-container {
  display: flex;
  justify-content: center;

  .columns {
  margin-top: 20px;
  width: 95%;
  height: 95%;
  }
}

#map {
  height: 100%;
}

#maps {
  min-height: 500px;
  
}

.center-container {
  display: flex;
  justify-content: center;
}

.ilogo {
  padding: 0 10px;
}

.device-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  h1 {
    margin-bottom: 0 !important;
  }
}

hr {
  padding: 0;
  margin: 0;
}

.pagination-link {
  font-size: 15px;
}

.dataTables_info {
  font-size: 15px;
}

.dataTables_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dataTables_filter {
  label {
    input {
      border-radius: 5px;
      border-color: $info;
      font-size: 1rem;
      color: $grey;
      background-color: $grey-light;
      margin-left: 10px;
    }
  }
}

.dataTables_length {
  label {
    select {
      border-radius: 5px;
      border-color:$info;
      font-size: 1rem;
      color: $grey;
      margin-bottom: 5px;
    }
  }

}

tbody {
  width: 100%;
  tr {
    padding: 0 50px;
  }
}
.paginate_button{
  width: 100%;
  padding: 0 5px;
} 

.table {
  width: 70%;
}

.left-list-container {
  position: fixed;
  margin-left: -20px;
}

.right-about-container {
  position: fixed;
  margin-right: 20px;
}